body{
    background-color: ghostwhite;
}
.comment {
    border : 1px solid #D3D3D3;
    margin-top: 10px;
    padding: 5px 0 5px 5px;
    position: relative;
    width:350px;  
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0px 5px 5px #888888;
    background-color: white;
}

.comment button{
    margin-left: 8px;
    border-radius: 10px;
    padding: 5px;
    outline : none;
}
.comment .nameSection{
    display: inline-block;
    margin-left: 63px;
        
}
.comment .commentContentSection{
    display: inline-block;
    margin-left: 27px;
}
.comment .upvoteImage{
    background-image: url("../images/upVote.png");
    width: 30px;
    height: 30px;
    background-size: cover ;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;   
}
.comment .downvoteImage{
    background-image: url("../images/downVote.png");
    width: 30px;
    height: 30px;
    background-size: cover ;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;   
}
.comment .upvoteContentSection{
    display: inline-block;
    margin-left: 58px;
}

#postComment{
     margin-left: 65px;
}
.comment input[type="text"] {
    margin-left: 38px;
    width: 250px;
}

.comment textarea{
    margin-left: 5px;
}
.comment > div{
    padding-top: 10px;
}

.parent.comment {
    position: absolute;
}

textarea{
    width: 250px;
    height: 100px;
}

.commentLabel{
    vertical-align: top;
}

.btn{
    text-align:  center;
}